.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.hcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; }

.hidden {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

#endgameoverlay {
  background-color: black; }
  #endgameoverlay div p {
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 20px;
    text-justify: inter-word;
    vertical-align: middle; }

#mailoverlay {
  background: white; }
  #mailoverlay div {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  margin: 0; }
  body #main-div {
    width: 60vh;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: linear-gradient(#95f3ff, #ec8aff);
    border-width: 0px 0px 0px 0px;
    border-color: black;
    border-style: solid; }

.fullpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box; }
  .fullpage#home {
    z-index: 1; }

.app {
  overflow: hidden;
  background: red;
  z-index: 3; }
  .app .header {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%; }
  .app .footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%; }
  .app.hidden {
    top: 100%;
    opacity: 0; }
  .app:not(.open-app):not(.trans-app) {
    display: none; }
  .app .app-screen {
    width: 100%;
    height: 100%;
    position: absolute; }
    .app .app-screen:not(.current-screen):not(.trans-screen) {
      display: none;
      left: 100%; }

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: black;
  opacity: 0.8;
  color: white;
  z-index: 4; }
  #topbar #noservice {
    max-height: 20px;
    padding-left: 20px;
    vertical-align: bottom;
    color: white;
    float: left; }
  #topbar #battery {
    max-height: 20px;
    vertical-align: bottom;
    color: white; }

#bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: black;
  opacity: 0.9;
  color: white;
  z-index: 4; }

#home {
  background: linear-gradient(#95f3ff, #ec8aff); }
  #home #noti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    pointer-events: none; }
  #home svg {
    height: 100%;
    width: 93%;
    margin-top: -30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
    #home svg a {
      transition: all 0.5s ease; }
    #home svg a:hover {
      cursor: pointer;
      opacity: 0.7; }

.responsetext {
  text-align: left;
  font-weight: lighter;
  white-space: normal;
  width: 40%;
  float: left; }

.msgtext {
  text-align: right;
  font-weight: lighter;
  white-space: normal;
  width: 40%;
  float: right; }

.lastmsg {
  color: #aaaaaa;
  display: inline;
  font-family: avenir, helvetica, arial, sans-serif;
  font-weight: lighter; }

.note_preview {
  color: gray; }

#msg_list .ui-li-static.response {
  border-width: 0px;
  background-color: #f8e6e8; }

#msg_list .ui-li-static.msg {
  border-width: 0px;
  background-color: #e6e8f8; }

div.email {
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-color: gray; }

div.email:last-child {
  border-bottom-style: none; }

#mail_life li a p, #mail_life li a h1 {
  font-weight: normal; }
#mail_life li a.unread-mailp, #mail_life li a.unread-mailh1 {
  background-color: #e6e6e6;
  font-weight: bold; }
#mail_life li a.undread-mail:hover p, #mail_life li a.undread-mail:hover h1 {
  background-color: gainsboro; }
#mail_life li a .mail_subject {
  font-size: 14px; }
#mail_life li a .mail_textpreview {
  color: gray; }

#glitchtext {
  white-space: normal;
  word-wrap: break-word; }

div.responsesgenerated {
  opacity: 0.5;
  font-size: 12px;
  padding-top: 1%;
  padding-left: 1.5%; }

.blink {
  animation: blinker 1s ease infinite;
  -webkit-animation: blinker 1s ease infinite; }

@-webkit-keyframes blinker {
  50% {
    opacity: 0.0; } }
div.email:not(:first-child) {
  opacity: 0.8;
  margin-left: 5%;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: gray;
  padding-left: 2.5%; }

#mail_response_navbar ul a {
  white-space: normal;
  height: 40px;
  line-height: 20px; }

img {
  max-width: 100%; }

a.creator {
  color: pink;
  opacity: 0.9;
  text-decoration: none; }

a.creator:hover {
  opacity: 1; }

#glitch_2 {
  background: red; }

#glitch_1 .app-screen {
  background-image: url("images/lines_hacked.gif"); }

@media screen and (max-width: 450px) {
  body {
    width: 100vw;
    height: 100vw; } }

/*# sourceMappingURL=index.css.map */
